.container {
    margin: 0 auto;
    width: 960px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;

}

.content{
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;

}
.content h2{
    color: #2C88A7;
    border-bottom: 1px dashed #2C88A7;
    margin: 0;
}
.content a{
    color: #2C88A7;
}
h1 a{
    color: #2C88A7;
    text-decoration: none;
}
h1 a:hover{
    background-color: #2C88A7;
    color: #FFF;
}